* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// HEADER

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #222;
}

.logo {
  position: relative;
  color: #fff;
  letter-spacing: 0.1rem;
  h1 {
    font-weight: normal;
    font-size: 1.8rem;
  }
  &::before {
    position: absolute;
    content: "iD";
    color: #ffa000;
    border: 1px solid #ffa000;
    top: -0.7rem;
    left: -5rem;
    font-size: 2rem;
    padding: 0.5rem 0.7rem;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
  li {
    position: relative;
  }
  a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    &:hover {
      color: #ffa000;
    }
  }
}

a.active {
  color: #ffa000;
}

.extra-button {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    top: 0.4rem;
    right: -2rem;
  }
}

.extra-links {
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  top: calc(4vh + 9px);
  left: -9rem;
  list-style: none;
  background: #222;
  li:first-child {
    border-top: 3px solid #ffa000;
  }
  li + li {
    border-top: 1px solid #424242;
  }
  a {
    color: #fff;
    display: inline-block;
    width: 16rem;
    padding: 1rem 2rem;
  }
}

.extra-links-active {
  opacity: 1;
}

.burger {
  display: none;
  div {
    transition: all 0.5s ease;
    width: 2.5rem;
    height: 0.3rem;
    background: #fff;
    margin: 0.5rem;
  }
}

// BANNER

.banner {
  background: url(../img/banner.png);
  object-fit: cover;
  background-size: cover;
  background-position: top;
  width: 100%;
  min-height: 92vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    color: #fff;
    font-size: 4.5rem;
    margin: 1.5rem;
  }
  p {
    color: #fff;
    font-size: 1.7rem;
    span {
      color: #ffa000;
    }
  }
}

// ABOUT SECTION

.about-agency {
  h2 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
  }
  .about-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    div {
      display: block;
      flex-basis: 40rem;
      margin: 0 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.about-text {
  font-size: 1.4rem;
  p {
    padding: 1rem 0;
  }
  ul {
    list-style: none;
    margin-top: 1rem;
    li {
      padding: 1rem 0 0 1rem;
      i {
        padding-right: 0.5rem;
        color: #ffa000;
      }
    }
  }
}

// WE DO CONTAINER

.what-we-do {
  background: #eeeeee;
  padding-bottom: 5rem;
  h2 {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
  }
  .wedo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > div {
      flex-basis: 30rem;
      background: #fff;
      margin: 1rem;
      h3 {
        font-size: 1.6rem;
        margin: 1rem;
        text-transform: uppercase;
      }
      p {
        font-size: 1.5rem;
        margin: 0 1rem;
        padding-bottom: 3rem;
      }
    }
  }
}

// FOOTER

.footer {
  background: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  div {
    padding: 2rem 0;
    color: #fff;
    font-size: 1.5rem;
    i {
      margin: 0 1rem;
      color: #fff;
      font-size: 1.9rem;
      &:hover {
        color: #ffa000;
      }
    }
    .fa-twitter {
      color: #ffa000;
    }
  }
}

@media screen and (max-width: 1440px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 1280px) {
  .logo {
    margin-left: 2rem;
  }
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 840px) {
  .about-agency {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 35%;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    li {
      opacity: 0;
      margin: 1rem 0;
    }
  }

  .extra-links {
    top: 3vh;
    right: 50%;
    transform: translateX(50%);
    li:first-child {
      border-top: 1px solid #424242;
    }
    a {
      width: auto;
      padding: 0;
    }
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0);
  }

  .wedo-container {
    > div {
      flex-basis: 25rem;
    }
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-0.5rem, -0.6rem);
}

// Aniamtion

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
